*{
	box-sizing: border-box;
	font-family: "Courier", monospace;
}

/* Splash Screen */

.intro{
	position: fixed;
	z-index: 1;
	left: 0%;
	top: 0%;
	width: 100%;
	height: 100vh;
	background-color: #2B2D42;
	transition: 1s;
}

.logo-header{
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #D9DCD6;
}

.logo{
	position: relative;
	display: inline-block;
	bottom: -20px;
	opacity: 0;
}

.logo.active{
	bottom: 0;
	opacity: 1;
	transition: ease-in-out 0.5s;
}

.logo.fade{
	bottom: 0;
	opacity: 0;
	transition: ease-in-out 0.5s;
}

body {
    background-color: skyblue;
}
.bigContainer {
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.container1 {
    width: 600px;
    max-width: 80%;
}

.container2 {
    width: 600px;
    max-width: 80%;
}


a {
    text-decoration: none;
}

h1 {
    font-size:100px;
    color: black;
}

h2 {
    font-size: 40px;
    color: black;
}
.container1 h1:hover{
    cursor: pointer;
    color: white;
    font-size: 110px;
    transition: 0.7s;
}

.container1 h1:active {
    font-size: 105px;
    transition: 0s;
}

.textBox1 {
    padding: 0;
    transform: translate(0%,100%);
    transition: opacity 0.5s;
    text-align: center;
    word-break: keep-all;
}

.textBox1 a {
    padding: 0px 30px;
    font-size: 40px;
    color: black;
}

.textBox1 a:hover {
    color: white;
    transition: 0.5s;
}
.textBox2 {
    transform: translate(0%,-20%);
    opacity: 0; 
    transition: opacity 0.5s;
    display: flex;
    flex-direction: column;
    pointer-events: none;
}

.textBox2 a {
    padding: 20px 0px;
    font-size: 40px;
    color: black;
    text-decoration: none;
}

.textBox2 a:hover {
    transition: 0.5s;
    color: white;
}

.textBox3 {
    transform: translate(0%,-500%);
    opacity: 0;
    transition: opacity 0.5s;
    text-align: center;
    pointer-events: none;
}

.childTextBox3 {
    border-top: 3px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.childTextBox3 h3 a {
    text-decoration: none;
    color:black;
}

.childTextBox3 h3 a:hover{
    transition: 0.2s;
    text-decoration: underline;
    color:white;
}
